.main-banner {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 580px;
    background-size: cover;
    overflow: hidden;
    background: url("background-banner.jpg") no-repeat center;
    padding-left: 20px;
    padding-right: 20px;
}
.slide-button {
    border: #eee 1px solid;
    color: #333;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 50%;
    background-clip: padding-box;
    background-color: #fff;
    width: 40px;
    height: 40px;
    font-weight: 300;
}
