.list-review {
}

.list-review .page-title {
    background-color: #f5f5f5;
    border-bottom: 1px solid #e1e7ec;
    border-bottom: 1px solid #e1e7ec;
    padding: 20px 10px 20px 10px;
    text-align: left;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.25;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-content: center;
}

.wrapper {
    padding-top: 50px;
    max-width: 800px;
    margin: 0 auto;
}

.list-review .page-title .view-button {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.list-review .page-title span {
    padding-top: 5px;
    text-align: center;
}

.view-button button {
    border: none;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    color: #fff;
    font-weight: bolder;
    transition-duration: 0.25s;
    background-color: #0085B6;
    margin-right: 5px;
}

@media (max-width: 620px) {
    .wrapper {
        padding-left: 3px;
        padding-right: 3px;
    }
}