.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container {
  display: flex;
  flex-flow: column;
  position: relative;
  top: 80px;
}

.review-rate {
  padding: 1px;
}
.review-rate .star1 {
  left: 0;
  width: 205px;
  height: 50px;
  zoom: 0.4;
  background: url("./resources/star-sprite.png") 0 45px;
}

.review-rate .star2 {
  left: 0;
  width: 205px;
  height: 50px;
  zoom: 0.4;
  background: url("./resources/star-sprite.png") 0 90px;
}

.review-rate .star3 {
  left: 0;
  width: 205px;
  height: 50px;
  zoom: 0.4;
  background: url("./resources/star-sprite.png") 0 130px;
}

.review-rate .star4 {
  left: 0;
  width: 205px;
  height: 40px;
  zoom: 0.4;
  background: url("./resources/star-sprite.png") 0 170px;
}

.review-rate .star5 {
  left: 0;
  width: 205px;
  height: 50px;
  zoom: 0.4;
  background: url("./resources/star-sprite.png");
}